header {
  background: linear-gradient(180deg, #141414 0%, #202022 50%, #47474f 100%);
}
header .top-header {
  display: flex;
  padding: 12px 0;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  header .top-header {
    display: block;
  }
}
header .top-header .logo-header {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
header .top-header .logo-header .bar-mobile {
  color: #ffffff;
  margin-right: 10px;
  margin-top: 4px;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 993px) {
  header .top-header .logo-header .bar-mobile {
    display: block;
  }
}
header .top-header .search-header {
  margin-right: 40px;
  flex: 1;
  max-width: 30%;
}
@media screen and (max-width: 992px) {
  header .top-header .search-header {
    margin-top: 10px;
    max-width: 100%;
    margin-right: 0;
  }
}
@media screen and (max-width: 1200px) and (min-width: 993px) {
  header .top-header .search-header {
    max-width: 40%;
  }
}
header .top-header .search-header .box-search {
  position: relative;
}
header .top-header .search-header .box-search input {
  padding-right: 35px;
}
header .top-header .search-header .box-search input:focus .box-content {
  visibility: visible;
}
header .top-header .search-header .box-search .btn-search {
  position: absolute;
  top: 0;
  right: 0;
}
header .top-header .search-header .box-search .box-content {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  z-index: 9999;
  visibility: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
header .top-header .search-header .box-search .box-content .box .title {
  text-transform: uppercase;
  font-size: 14px;
}
header .top-header .search-header .box-search .box-content .box hr {
  margin: 5px 0;
}
header .top-header .search-header .box-search .box-content .box .content .list-search {
  display: inline-block;
  width: 100%;
}
header .top-header .search-header .box-search .box-content .box .content .list-search li a {
  float: left;
  color: black;
  background-color: #f5f5f5;
  padding: 3px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 3px;
}
header .top-header .right-header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  header .top-header .right-header {
    position: absolute;
    top: 20px;
    right: 12px;
  }
}
header .top-header .right-header .right-map .map-header {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 6px 8px;
  border-radius: 3px;
}
@media screen and (max-width: 1200px) {
  header .top-header .right-header .right-map .map-header {
    display: none;
  }
}
header .top-header .right-header .right-map .map-header:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
header .top-header .right-header .right-map .map-header .icon {
  margin-right: 4px;
}
header .top-header .right-header .right-phone .phone-header {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 12px;
  border-radius: 3px;
}
header .top-header .right-header .right-phone .phone-header:hover {
  color: rgba(255, 255, 255, 0.8);
}
header .top-header .right-header .right-phone .phone-header .icon {
  margin-right: 8px;
}
@media screen and (max-width: 992px) {
  header .top-header .right-header .right-phone .phone-header {
    display: none;
  }
}
header .top-header .right-header .right-user {
  position: relative;
}
header .top-header .right-header .right-user:hover .box-user {
  display: block;
}
header .top-header .right-header .right-user .user-header {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 12px;
  border-radius: 3px;
  position: relative;
}
header .top-header .right-header .right-user .user-header::before {
  position: absolute;
  content: "";
  right: 0px;
  top: 100%;
  width: 100%;
  height: 20px;
}
header .top-header .right-header .right-user .user-header:hover {
  color: rgba(255, 255, 255, 0.8);
}
header .top-header .right-header .right-user .user-header .icon {
  margin-right: 10px;
  position: relative;
}
header .top-header .right-header .right-user .user-header .icon i:last-child {
  position: absolute;
  right: -80px;
  bottom: -6px;
}
@media screen and (max-width: 992px) {
  header .top-header .right-header .right-user .user-header .icon i:last-child {
    right: -15px;
    bottom: 2px;
  }
}
@media screen and (max-width: 992px) {
  header .top-header .right-header .right-user .user-header .icon {
    margin-right: 30px;
  }
}
@media screen and (max-width: 992px) {
  header .top-header .right-header .right-user .user-header .content {
    display: none;
  }
}
header .top-header .right-header .right-user .box-user {
  background-color: #ffffff;
  color: black;
  position: absolute;
  top: 150%;
  right: 0;
  width: 220px;
  display: none;
  z-index: 999;
  border-radius: 5px;
  padding: 4px 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
header .top-header .right-header .right-user .box-user li {
  cursor: pointer;
  margin: 6px 0;
}
header .top-header .right-header .right-user .box-user li a {
  font-size: 14px;
  padding: 4px 10px;
  display: block;
  color: #000000;
}
header .top-header .right-header .right-user .box-user li a svg {
  margin-right: 5px;
}
header .top-header .right-header .right-user .box-user li a:hover {
  border-radius: 4px;
  color: white;
  background-color: black;
}
header .top-header .right-header .right-user .box-user:before {
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  content: "";
  right: 18px;
  top: -18px;
}
header .top-header .right-header .right-cart {
  position: relative;
}
@media screen and (min-width: 992px) {
  header .top-header .right-header .right-cart:hover .cart {
    display: block;
  }
}
header .top-header .right-header .right-cart .cart-header {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 12px;
  border-radius: 3px;
  position: relative;
}
header .top-header .right-header .right-cart .cart-header::before {
  position: absolute;
  content: "";
  right: 0px;
  top: 100%;
  width: 100%;
  height: 30px;
}
header .top-header .right-header .right-cart .cart-header:hover {
  color: rgba(255, 255, 255, 0.8);
}
header .top-header .right-header .right-cart .cart-header .icon {
  position: relative;
  margin-right: 8px;
}
header .top-header .right-header .right-cart .cart-header .icon span {
  position: absolute;
  top: -10px;
  left: 16px;
  background-color: red;
  border-radius: 50%;
  padding: 0px 5px;
}
@media screen and (max-width: 992px) {
  header .top-header .right-header .right-cart .cart-header .content {
    display: none;
  }
}
header .top-header .right-header .right-cart .cart {
  position: absolute;
  top: 250%;
  right: 0;
  z-index: 99999;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 400px;
  display: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
header .top-header .right-header .right-cart .cart .content-cart .empty-cart {
  display: none;
}
header .top-header .right-header .right-cart .cart .content-cart .empty-cart i {
  font-size: 48px;
  margin-bottom: 20px;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .box {
  text-align: left;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .box .head {
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #cccccc;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .box .body {
  padding: 0 10px;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .box .body .item {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #cccccc;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .box .body .item .img {
  min-width: 20%;
  max-width: 20%;
  height: 20%;
  margin-right: 15px;
  flex: 1;
  border: 1px solid #cccccc;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .box .body .item .img a img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .box .body .item .info {
  position: relative;
  font-size: 14px;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .box .body .item .info .name {
  color: #000000;
  text-wrap: wrap;
  display: inline-block;
  width: 90%;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .box .body .item .info .name:hover {
  color: #cc0c09;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .box .body .item .info .mau {
  color: #b9b9b9;
  margin-bottom: 5px;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .box .body .item .info .count-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .box .body .item .info .count-amount .amount button {
  border: 1px solid #e5e5e5;
  border-color: #e5e5e5;
  color: #222;
  line-height: 26px;
  padding: 0;
  margin: 0;
  width: 28px;
  background-color: #fff;
  height: 28px;
  float: left;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .box .body .item .info .count-amount .amount input {
  display: inline-block;
  padding: 0;
  text-align: center;
  border-radius: 0;
  width: 35px;
  min-height: 28px;
  border: 1px solid #e5e5e5;
  color: #222;
  height: 28px;
  font-size: 14px;
  margin: 0;
  float: left;
  border-left: none;
  border-right: none;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .box .body .item .info .count-amount .price {
  color: #cc0c09;
  font-size: 16px;
  font-weight: 500;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .box .body .item .info .delete {
  cursor: pointer;
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .box .body .item .info .delete:hover {
  color: #cc0c09;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .checkout-box-cart {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .checkout-box-cart .total {
  text-align: left;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .checkout-box-cart .total .total-money {
  color: #cc0c09;
  font-size: 18px;
  font-weight: 500;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .checkout-box-cart .btn-checkout .btn-check-box {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #000000;
}
header .top-header .right-header .right-cart .cart .content-cart .no-empty-cart .checkout-box-cart .btn-checkout .btn-check-box:hover {
  background-color: #cc0c09;
}
header .top-header .right-header .right-cart .cart:before {
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  content: "";
  right: 40px;
  top: -18px;
}
header .category-header {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
header .category-header .list-category {
  position: relative;
}
header .category-header .list-category .category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  text-wrap: nowrap;
}
@media screen and (max-width: 992px) {
  header .category-header .list-category .category {
    display: none;
  }
}
header .category-header .list-category .category .hover-item-menu:hover .box-phone {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
header .category-header .list-category .category .hover-item-menu:hover .box-iPad {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
header .category-header .list-category .category .hover-item-menu:hover .box-Macbook {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
header .category-header .list-category .category .hover-item-menu:hover .box-apple-watch {
  visibility: visible;
  opacity: 1;
  top: 100%;
  z-index: 9999;
}
header .category-header .list-category .category .hover-item-menu:hover .box-phukien {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
header .category-header .list-category .category .hover-item-menu a {
  color: #ffffff;
  padding: 5px;
  display: inline-block;
  margin-bottom: 1px;
  font-weight: 500;
  position: relative;
}
header .category-header .list-category .category .hover-item-menu a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}
header .category-header .list-category .category .hover-item-menu a:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}
header .category-header .list-category .category .hover-item-menu .box-phone {
  background-color: #ffffff;
  padding: 15px;
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(100% + 10px);
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
header .category-header .list-category .category .hover-item-menu .box-phone .title {
  color: #000000;
  margin-bottom: 10px;
}
header .category-header .list-category .category .hover-item-menu .box-phone li a {
  font-weight: normal;
  color: #000000;
  line-height: 1;
  transition: all 0.5s;
}
header .category-header .list-category .category .hover-item-menu .box-phone li a:hover {
  transform: translate(3px);
}
header .category-header .list-category .category .hover-item-menu .box-iPad {
  z-index: 9999;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  left: auto;
  top: calc(100% + 10px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
header .category-header .list-category .category .hover-item-menu .box-iPad li {
  border-bottom: 1px solid rgb(189, 189, 189);
  position: relative;
}
header .category-header .list-category .category .hover-item-menu .box-iPad li:last-child {
  border-bottom: none;
}
header .category-header .list-category .category .hover-item-menu .box-iPad li:hover .box-iPad-sub {
  display: block;
}
header .category-header .list-category .category .hover-item-menu .box-iPad li a {
  font-weight: normal;
  color: #000000;
  padding: 7px 160px 7px 10px;
  display: block;
  transition: all 0.5s;
}
header .category-header .list-category .category .hover-item-menu .box-iPad li a:hover {
  transform: translate(3px);
}
header .category-header .list-category .category .hover-item-menu .box-iPad li a i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
header .category-header .list-category .category .hover-item-menu .box-iPad li a:hover i {
  transform: translateX(3px);
}
header .category-header .list-category .category .hover-item-menu .box-iPad li .box-iPad-sub {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: none;
}
header .category-header .list-category .category .hover-item-menu .box-iPad li .box-iPad-sub li a {
  padding: 7px 100px 7px 7px;
  transition: all 0.5s;
}
header .category-header .list-category .category .hover-item-menu .box-iPad li .box-iPad-sub li a:hover {
  transform: translate(3px);
}
header .category-header .list-category .category .hover-item-menu .box-Macbook {
  z-index: 9999;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  left: auto;
  top: calc(100% + 10px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
header .category-header .list-category .category .hover-item-menu .box-Macbook li {
  border-bottom: 1px solid rgb(189, 189, 189);
}
header .category-header .list-category .category .hover-item-menu .box-Macbook li:last-child {
  border-bottom: none;
}
header .category-header .list-category .category .hover-item-menu .box-Macbook li a {
  font-weight: normal;
  color: #000000;
  padding: 7px 100px 7px 10px;
  display: block;
  transition: all 0.5s;
}
header .category-header .list-category .category .hover-item-menu .box-Macbook li a:hover {
  transform: translate(3px);
}
header .category-header .list-category .category .hover-item-menu .box-apple-watch {
  z-index: 9999;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  left: auto;
  top: calc(100% + 10px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
header .category-header .list-category .category .hover-item-menu .box-apple-watch li {
  border-bottom: 1px solid rgb(189, 189, 189);
}
header .category-header .list-category .category .hover-item-menu .box-apple-watch li:last-child {
  border-bottom: none;
}
header .category-header .list-category .category .hover-item-menu .box-apple-watch li a {
  font-weight: normal;
  color: #000000;
  padding: 7px 100px 7px 10px;
  display: block;
  transition: all 0.5s;
}
header .category-header .list-category .category .hover-item-menu .box-apple-watch li a:hover {
  transform: translate(3px);
}
header .category-header .list-category .category .hover-item-menu .box-phukien {
  z-index: 9999;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  left: auto;
  top: calc(100% + 10px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
header .category-header .list-category .category .hover-item-menu .box-phukien li {
  border-bottom: 1px solid rgb(189, 189, 189);
}
header .category-header .list-category .category .hover-item-menu .box-phukien li:last-child {
  border-bottom: none;
}
header .category-header .list-category .category .hover-item-menu .box-phukien li a {
  font-weight: normal;
  color: #000000;
  padding: 7px 100px 7px 10px;
  display: block;
  transition: all 0.5s;
}
header .category-header .list-category .category .hover-item-menu .box-phukien li a:hover {
  transform: translate(3px);
}

.current {
  visibility: visible !important;
  transform: translateX(0) !important;
}

.menu-mobile .box-menu {
  overflow: auto;
  width: 60%;
  height: 100%;
  visibility: hidden;
  transform: translateX(-60%);
  transition: all 0.3s linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: linear-gradient(180deg, #141414 0%, #202022 50%, #47474f 100%);
}
@media screen and (min-width: 993px) {
  .menu-mobile .box-menu {
    visibility: hidden !important;
    transform: translateX(-60%) !important;
  }
}
.menu-mobile .box-menu .head-box {
  color: white;
  background-color: black;
  padding: 6px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-mobile .box-menu .head-box .title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.menu-mobile .box-menu .head-box .close-box {
  cursor: pointer;
}
.menu-mobile .box-menu .box .list-menu {
  padding-bottom: 16px;
}
.menu-mobile .box-menu .box .list-menu li {
  position: relative;
}
.menu-mobile .box-menu .box .list-menu li .list-sub {
  padding: 0 10px;
  position: relative;
}
.menu-mobile .box-menu .box .list-menu li .list-sub .open-sub2 {
  padding-left: 20px;
  position: absolute;
  right: 0;
  top: 12px;
  color: #ffffff;
  cursor: pointer;
}
.menu-mobile .box-menu .box .list-menu li a {
  color: #ffffff;
  display: block;
  padding: 8px 40px 8px 8px;
}
.menu-mobile .box-menu .box .list-menu li .open-sub1 {
  padding-left: 20px;
  position: absolute;
  right: 8px;
  top: 12px;
  color: #ffffff;
  cursor: pointer;
}
.menu-mobile .box-menu .box .bottom-box {
  padding-top: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.menu-mobile .box-menu .box .bottom-box li a {
  color: #ffffff;
  display: block;
  padding: 6px 8px;
}
.menu-mobile .box-menu .box .bottom-box li a:hover {
  color: red;
}

.opacity {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  z-index: 999999;
  display: none;
}
@media screen and (min-width: 993px) {
  .opacity {
    display: none !important;
  }
}

.content-body .box-slide {
  position: relative;
}
.content-body .box-slide .slide-banner .item img {
  width: 100%;
}
.content-body .box-slide .btn-wrap span {
  position: absolute;
  background-color: #141414;
  opacity: 0.3;
  padding: 3px 8px;
  color: #ffffff;
  z-index: 5;
  top: 45%;
  cursor: pointer;
}
.content-body .box-slide .btn-wrap span:first-child {
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.content-body .box-slide .btn-wrap span:last-child {
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.content-body .services {
  margin: 20px 0;
}
.content-body .services .col-6:nth-child(1) .item {
  background-color: #EBF2FC;
}
.content-body .services .col-6:nth-child(2) .item {
  background-color: #FAE9EF;
}
.content-body .services .col-6:nth-child(3) .item {
  background-color: #FFFBDB;
}
.content-body .services .col-6:nth-child(4) .item {
  background-color: #E9FFE3;
}
.content-body .services .col-6 .item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
  transition-duration: 0.3s;
}
.content-body .services .col-6 .item:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.content-body .services .col-6 .item .icon {
  margin-right: 10px;
}
.content-body .services .col-6 .item .info {
  line-height: 0.5;
}
.content-body .services .col-6 .item .info h5 {
  font-size: 16px;
}
.content-body .services .col-6 .item .info span {
  font-size: 14px;
}
.content-body .news-product {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .content-body .news-product .row {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .content-body .news-product .row .col-xs-12 {
    flex: 0 0 70%;
    max-width: 70%;
    min-width: 70%;
  }
}
.content-body .news-product .row .item {
  border-radius: 10px;
  overflow: hidden;
  transition-duration: 0.5s;
}
.content-body .news-product .row .item:hover {
  transform: translateY(-6px);
}
@media screen and (max-width: 768px) {
  .content-body .news-product .row .item:hover {
    transform: translateY(0);
  }
}
.content-body .news-product .row .item a img {
  width: 100%;
}
.content-body .hot-sale {
  padding-bottom: 20px;
}
.content-body .hot-sale .box {
  padding-bottom: 20px;
  background: linear-gradient(180deg, #BF1E2E 0%, #cc0c09 50%, #fa2c29 100%);
}
.content-body .hot-sale .box .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 0px !important;
}
@media screen and (max-width: 768px) {
  .content-body .hot-sale .box .head {
    flex-direction: column;
  }
}
.content-body .hot-sale .box .head .title {
  display: flex;
  color: #ffffff;
  align-items: center;
}
.content-body .hot-sale .box .head .title span {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}
.content-body .hot-sale .box .head .count-down .box-time {
  display: flex;
}
.content-body .hot-sale .box .head .count-down .box-time .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 0 5px;
  width: 55px;
  height: 55px;
  color: #ffffff;
  border-radius: 5px;
}
.content-body .hot-sale .box .head .count-down .box-time .item span {
  font-weight: bold;
}
.content-body .hot-sale .box .box-product-sale {
  padding: 20px;
  position: relative;
}
.content-body .hot-sale .box .box-product-sale .slide-product .slick-slide {
  margin: 0 10px;
}
.content-body .hot-sale .box .box-product-sale .slide-product .slick-list {
  margin: 0 -10px;
}
.content-body .hot-sale .box .box-product-sale .slide-product .item {
  background-color: #ffffff;
  padding: 12px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.content-body .hot-sale .box .box-product-sale .slide-product .item .setting {
  position: absolute;
  right: 10px;
  bottom: 80px;
}
.content-body .hot-sale .box .box-product-sale .slide-product .item .setting a {
  color: #ffffff;
  background-color: black;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 8px 6px 8px;
}
.content-body .hot-sale .box .box-product-sale .slide-product .item .setting a:hover {
  background-color: red;
}
.content-body .hot-sale .box .box-product-sale .slide-product .item:hover .img a img {
  transform: scale(1.1);
  transition: 0.3s;
}
.content-body .hot-sale .box .box-product-sale .slide-product .item .dis {
  color: #ffffff;
  background-color: red;
  font-weight: 600;
  padding: 2px 6px;
  font-size: 14px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  position: absolute;
  left: 0;
  top: 8px;
}
.content-body .hot-sale .box .box-product-sale .slide-product .item .img {
  overflow: hidden;
}
.content-body .hot-sale .box .box-product-sale .slide-product .item .img a img {
  width: 100%;
  aspect-ratio: 1;
  transition: 0.3s;
}
.content-body .hot-sale .box .box-product-sale .slide-product .item .body .name-product {
  color: black;
  margin-bottom: 5px;
  display: block;
  height: 48px !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.content-body .hot-sale .box .box-product-sale .slide-product .item .body .name-product:hover {
  color: red;
}
.content-body .hot-sale .box .box-product-sale .slide-product .item .body .price {
  opacity: 0.5;
  font-size: 14px;
  margin-bottom: 5px;
  height: 21px;
}
.content-body .hot-sale .box .box-product-sale .slide-product .item .body .discount {
  color: red;
  font-weight: bold;
  margin-bottom: 5px;
}
.content-body .hot-sale .box .box-product-sale .slide-product .item .body .combo {
  background-color: #e8e8e8;
  padding: 5px;
  border-radius: 5px;
  height: 58px !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.content-body .hot-sale .box .box-product-sale .btn-wrap span {
  position: absolute;
  background-color: #141414;
  opacity: 0.3;
  padding: 3px 8px;
  color: #ffffff;
  z-index: 5;
  top: 45%;
  cursor: pointer;
}
.content-body .hot-sale .box .box-product-sale .btn-wrap span:first-child {
  left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.content-body .hot-sale .box .box-product-sale .btn-wrap span:last-child {
  right: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.content-body .hot-sale .box .view-more {
  text-align: center;
}
.content-body .hot-sale .box .view-more .btn-view {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 6px 30px;
}
.content-body .hot-sale .box .view-more .btn-view:hover {
  background-color: black;
  border: 1px solid black;
}
.content-body .featured-category {
  padding-bottom: 20px;
}
.content-body .featured-category .title {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
}
@media screen and (max-width: 993px) {
  .content-body .featured-category .list-category .row {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .content-body .featured-category .list-category .row .col-xs-12 {
    flex: 0 0 40%;
    max-width: 40%;
    min-width: 40%;
  }
}
.content-body .featured-category .list-category .row .item {
  padding: 20px;
  background-color: #f1f1f1;
  display: block;
  border-radius: 10px;
  text-align: center;
}
.content-body .featured-category .list-category .row .item:hover {
  background: linear-gradient(180deg, #141414 0%, #202022 50%, #47474f 100%);
}
.content-body .featured-category .list-category .row .item:hover .name-category {
  color: #ffffff;
}
.content-body .featured-category .list-category .row .item:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}
.content-body .featured-category .list-category .row .item .img {
  margin-bottom: 10px;
}
.content-body .featured-category .list-category .row .item .img img {
  aspect-ratio: 1;
  transition: 0.3s;
}
.content-body .featured-category .list-category .row .item .name-category {
  color: black;
  font-weight: 500;
}
.content-body .product-iphone {
  padding: 20px 0;
}
.content-body .product-iphone .iphone .title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 10px;
}
.content-body .product-iphone .iphone .box .list-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .content-body .product-iphone .iphone .box .list-nav {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    justify-content: start;
  }
  .content-body .product-iphone .iphone .box .list-nav .col-xs-12 {
    flex: 0 0 40%;
    max-width: 40%;
    min-width: 40%;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .content-body .product-iphone .iphone .box .list-nav {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .content-body .product-iphone .iphone .box .list-nav .col-xs-12 {
    flex: 0 0 50%;
    max-width: 50%;
    min-width: 50%;
  }
}
.content-body .product-iphone .iphone .box .list-nav li {
  padding: 0 15px;
  cursor: pointer;
  position: relative;
}
.content-body .product-iphone .iphone .box .list-nav li .nav-link {
  background-color: transparent;
  color: black;
  border-radius: 0 !important;
}
.content-body .product-iphone .iphone .box .list-nav li .active {
  border-bottom: 3px solid #000000;
}
.content-body .product-iphone .iphone .box .list-nav li::after {
  content: "/";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: -5px;
}
.content-body .product-iphone .iphone .box .list-nav li:last-child::after {
  content: "";
}
.content-body .product-iphone .iphone .box .list-nav li span {
  position: relative;
  font-weight: 500;
}
.content-body .product-iphone .iphone .box .list-nav li span:hover {
  color: red;
}
.content-body .product-iphone .iphone .box .list-content {
  padding: 10px 0;
}
@media screen and (max-width: 768px) {
  .content-body .product-iphone .iphone .box .list-content .row {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .content-body .product-iphone .iphone .box .list-content .row .col-xs-12 {
    flex: 0 0 70%;
    max-width: 70%;
    min-width: 70%;
  }
}
.content-body .product-iphone .iphone .box .list-content .row .item {
  background-color: #ffffff;
  padding: 12px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 6px 0px rgba(50, 50, 93, 0.15), 1px 1px 5px rgba(0, 0, 0, 0.05);
}
.content-body .product-iphone .iphone .box .list-content .row .item .setting {
  position: absolute;
  right: 10px;
  bottom: 80px;
}
.content-body .product-iphone .iphone .box .list-content .row .item .setting a {
  color: #ffffff;
  background-color: black;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 8px 6px 8px;
}
.content-body .product-iphone .iphone .box .list-content .row .item .setting a:hover {
  background-color: red;
}
.content-body .product-iphone .iphone .box .list-content .row .item:hover .img a img {
  transform: scale(1.1);
  transition: 0.3s;
}
.content-body .product-iphone .iphone .box .list-content .row .item .dis {
  color: #ffffff;
  background-color: red;
  font-weight: 600;
  padding: 2px 6px;
  font-size: 14px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  position: absolute;
  left: 0;
  top: 8px;
}
.content-body .product-iphone .iphone .box .list-content .row .item .img {
  overflow: hidden;
}
.content-body .product-iphone .iphone .box .list-content .row .item .img a img {
  width: 100%;
  aspect-ratio: 1;
  transition: 0.3s;
}
.content-body .product-iphone .iphone .box .list-content .row .item .body .name-product {
  color: black;
  margin-bottom: 5px;
  display: block;
  height: 48px !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.content-body .product-iphone .iphone .box .list-content .row .item .body .name-product:hover {
  color: red;
}
.content-body .product-iphone .iphone .box .list-content .row .item .body .price {
  opacity: 0.5;
  font-size: 14px;
  margin-bottom: 5px;
  height: 21px;
}
.content-body .product-iphone .iphone .box .list-content .row .item .body .discount {
  color: red;
  font-weight: bold;
  margin-bottom: 5px;
}
.content-body .product-iphone .iphone .box .list-content .row .item .body .combo {
  background-color: #e8e8e8;
  padding: 5px;
  border-radius: 5px;
  height: 58px !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.content-body .product-iphone .iphone .view-more {
  text-align: center;
  margin-top: 20px;
}
.content-body .product-iphone .iphone .view-more .btn-view {
  color: #000000;
  border: 1px solid #000000;
  padding: 6px 30px;
}
.content-body .product-iphone .iphone .view-more .btn-view:hover {
  background-color: red;
  border: 1px solid red;
  color: #ffffff;
}
.content-body .product-ipad {
  padding: 30px 0;
}
.content-body .product-ipad .ipad .title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 10px;
}
.content-body .product-ipad .ipad .box .list-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .content-body .product-ipad .ipad .box .list-nav {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    justify-content: start;
  }
  .content-body .product-ipad .ipad .box .list-nav .col-xs-12 {
    flex: 0 0 40%;
    max-width: 40%;
    min-width: 40%;
    text-align: center;
  }
}
.content-body .product-ipad .ipad .box .list-nav li {
  padding: 0 15px;
  cursor: pointer;
  position: relative;
}
.content-body .product-ipad .ipad .box .list-nav li .nav-link {
  background-color: transparent;
  color: black;
  border-radius: 0 !important;
}
.content-body .product-ipad .ipad .box .list-nav li .active {
  border-bottom: 3px solid #000000;
}
.content-body .product-ipad .ipad .box .list-nav li::after {
  content: "/";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: -5px;
}
.content-body .product-ipad .ipad .box .list-nav li:last-child::after {
  content: "";
}
.content-body .product-ipad .ipad .box .list-nav li span {
  position: relative;
  font-weight: 500;
}
.content-body .product-ipad .ipad .box .list-nav li span:hover {
  color: red;
}
.content-body .product-ipad .ipad .box .list-content {
  padding: 20px 0;
}
@media screen and (max-width: 768px) {
  .content-body .product-ipad .ipad .box .list-content .row {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .content-body .product-ipad .ipad .box .list-content .row .col-xs-12 {
    flex: 0 0 70%;
    max-width: 70%;
    min-width: 70%;
  }
}
.content-body .product-ipad .ipad .box .list-content .row .item {
  background-color: #ffffff;
  padding: 12px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 6px 0px rgba(50, 50, 93, 0.15), 1px 1px 5px rgba(0, 0, 0, 0.05);
}
.content-body .product-ipad .ipad .box .list-content .row .item .setting {
  position: absolute;
  right: 10px;
  bottom: 80px;
}
.content-body .product-ipad .ipad .box .list-content .row .item .setting a {
  color: #ffffff;
  background-color: black;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 8px 6px 8px;
}
.content-body .product-ipad .ipad .box .list-content .row .item .setting a:hover {
  background-color: red;
}
.content-body .product-ipad .ipad .box .list-content .row .item:hover .img a img {
  transform: scale(1.1);
  transition: 0.3s;
}
.content-body .product-ipad .ipad .box .list-content .row .item .dis {
  color: #ffffff;
  background-color: red;
  font-weight: 600;
  padding: 2px 6px;
  font-size: 14px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  position: absolute;
  left: 0;
  top: 8px;
}
.content-body .product-ipad .ipad .box .list-content .row .item .img {
  overflow: hidden;
}
.content-body .product-ipad .ipad .box .list-content .row .item .img a img {
  width: 100%;
  aspect-ratio: 1;
  transition: 0.3s;
}
.content-body .product-ipad .ipad .box .list-content .row .item .body .name-product {
  color: black;
  margin-bottom: 5px;
  display: block;
  height: 48px !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.content-body .product-ipad .ipad .box .list-content .row .item .body .name-product:hover {
  color: red;
}
.content-body .product-ipad .ipad .box .list-content .row .item .body .price {
  opacity: 0.5;
  font-size: 14px;
  margin-bottom: 5px;
  height: 21px;
}
.content-body .product-ipad .ipad .box .list-content .row .item .body .discount {
  color: red;
  font-weight: bold;
  margin-bottom: 5px;
}
.content-body .product-ipad .ipad .box .list-content .row .item .body .combo {
  background-color: #e8e8e8;
  padding: 5px;
  border-radius: 5px;
  height: 58px !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.content-body .product-ipad .ipad .view-more {
  text-align: center;
  margin-top: 20px;
}
.content-body .product-ipad .ipad .view-more .btn-view {
  color: #000000;
  border: 1px solid #000000;
  padding: 6px 30px;
}
.content-body .product-ipad .ipad .view-more .btn-view:hover {
  background-color: red;
  border: 1px solid red;
  color: #ffffff;
}
.content-body .banner-new-product {
  padding: 30px 0;
  overflow: hidden;
  background: url(//bizweb.dktcdn.net/100/480/632/themes/900313/assets/section_banner_new_bg.jpg?1700210069064) center/cover no-repeat;
}
.content-body .banner-new-product .title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.content-body .banner-new-product .content .col-left {
  display: flex;
  align-items: center;
}
.content-body .banner-new-product .content .col-left .product-content .sub-title {
  color: red;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}
.content-body .banner-new-product .content .col-left .product-content h3 {
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 10px;
}
.content-body .banner-new-product .content .col-left .product-content .des {
  line-height: 1.7;
  margin-bottom: 20px;
}
.content-body .banner-new-product .content .col-left .product-content .view-more .btn-view {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #000000;
  padding: 6px 30px;
}
.content-body .banner-new-product .content .col-left .product-content .view-more .btn-view:hover {
  background-color: red;
  border: 1px solid red;
}
.content-body .banner-new-product .content .col-left .product-content .view-more .btn-view:hover i {
  transform: translateX(5px);
  transition-duration: 0.4s;
}
.content-body .banner-new-product .content .video-content {
  position: relative;
  animation-name: img;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes img {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 10px;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}
.content-body .product-macbook {
  padding: 30px 0;
}
.content-body .product-macbook .macbook .title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 10px;
}
.content-body .product-macbook .macbook .box .list-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.content-body .product-macbook .macbook .box .list-nav li {
  padding: 0 15px;
  cursor: pointer;
  position: relative;
}
.content-body .product-macbook .macbook .box .list-nav li .nav-link {
  background-color: transparent;
  color: black;
  border-radius: 0 !important;
}
.content-body .product-macbook .macbook .box .list-nav li .active {
  border-bottom: 3px solid #000000;
}
.content-body .product-macbook .macbook .box .list-nav li::after {
  content: "/";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: -5px;
}
.content-body .product-macbook .macbook .box .list-nav li:last-child::after {
  content: "";
}
.content-body .product-macbook .macbook .box .list-nav li span {
  position: relative;
  font-weight: 500;
}
.content-body .product-macbook .macbook .box .list-nav li span:hover {
  color: red;
}
.content-body .product-macbook .macbook .box .list-content {
  padding: 20px 0;
}
@media screen and (max-width: 768px) {
  .content-body .product-macbook .macbook .box .list-content .row {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .content-body .product-macbook .macbook .box .list-content .row .col-xs-12 {
    flex: 0 0 70%;
    max-width: 70%;
    min-width: 70%;
  }
}
.content-body .product-macbook .macbook .box .list-content .row .item {
  background-color: #ffffff;
  padding: 12px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 6px 0px rgba(50, 50, 93, 0.15), 1px 1px 5px rgba(0, 0, 0, 0.05);
}
.content-body .product-macbook .macbook .box .list-content .row .item .setting {
  position: absolute;
  right: 10px;
  bottom: 80px;
}
.content-body .product-macbook .macbook .box .list-content .row .item .setting a {
  color: #ffffff;
  background-color: black;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 8px 6px 8px;
}
.content-body .product-macbook .macbook .box .list-content .row .item .setting a:hover {
  background-color: red;
}
.content-body .product-macbook .macbook .box .list-content .row .item:hover .img a img {
  transform: scale(1.1);
  transition: 0.3s;
}
.content-body .product-macbook .macbook .box .list-content .row .item .dis {
  color: #ffffff;
  background-color: red;
  font-weight: 600;
  padding: 2px 6px;
  font-size: 14px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  position: absolute;
  left: 0;
  top: 8px;
}
.content-body .product-macbook .macbook .box .list-content .row .item .img {
  overflow: hidden;
}
.content-body .product-macbook .macbook .box .list-content .row .item .img a img {
  width: 100%;
  aspect-ratio: 1;
  transition: 0.3s;
}
.content-body .product-macbook .macbook .box .list-content .row .item .body .name-product {
  color: black;
  margin-bottom: 5px;
  display: block;
  height: 48px !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.content-body .product-macbook .macbook .box .list-content .row .item .body .name-product:hover {
  color: red;
}
.content-body .product-macbook .macbook .box .list-content .row .item .body .price {
  opacity: 0.5;
  font-size: 14px;
  margin-bottom: 5px;
  height: 21px;
}
.content-body .product-macbook .macbook .box .list-content .row .item .body .discount {
  color: red;
  font-weight: bold;
  margin-bottom: 5px;
}
.content-body .product-macbook .macbook .box .list-content .row .item .body .combo {
  background-color: #e8e8e8;
  padding: 5px;
  border-radius: 5px;
  height: 58px !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.content-body .product-macbook .macbook .view-more {
  text-align: center;
  margin-top: 20px;
}
.content-body .product-macbook .macbook .view-more .btn-view {
  color: #000000;
  border: 1px solid #000000;
  padding: 6px 30px;
}
.content-body .product-macbook .macbook .view-more .btn-view:hover {
  background-color: red;
  border: 1px solid red;
  color: #ffffff;
}
.content-body .news-home {
  padding: 20px 0;
}
.content-body .news-home .box-news-home {
  position: relative;
}
.content-body .news-home .box-news-home .title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 20px 0;
}
.content-body .news-home .box-news-home .title span {
  color: red;
}
.content-body .news-home .box-news-home .list-news .slick-slide {
  margin: 0 10px;
}
.content-body .news-home .box-news-home .list-news .slick-list {
  margin: 0 -10px;
}
.content-body .news-home .box-news-home .list-news .item {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content-body .news-home .box-news-home .list-news .item .img a img {
  width: 100%;
}
.content-body .news-home .box-news-home .list-news .item .content {
  padding: 12px;
  background-color: #f9f9f9;
}
.content-body .news-home .box-news-home .list-news .item .content .title-news {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.content-body .news-home .box-news-home .list-news .item .content .title-news:hover {
  color: red;
}
.content-body .news-home .box-news-home .list-news .item .content .des {
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #747474;
}
.content-body .news-home .box-news-home .list-news .item .content .time-post {
  color: #a3a3a3;
}
.content-body .news-home .box-news-home .btn-wrap span {
  position: absolute;
  background-color: #141414;
  opacity: 0.3;
  padding: 3px 8px;
  color: #ffffff;
  z-index: 5;
  top: 55%;
  cursor: pointer;
}
.content-body .news-home .box-news-home .btn-wrap span:first-child {
  left: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.content-body .news-home .box-news-home .btn-wrap span:last-child {
  right: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.content-body .customer {
  padding: 20px 0;
}
.content-body .customer .box-customer {
  position: relative;
}
.content-body .customer .box-customer .title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 20px 0;
}
.content-body .customer .box-customer .title span {
  color: red;
}
.content-body .customer .box-customer .list-cus .slick-slide {
  margin: 0 10px;
}
.content-body .customer .box-customer .list-cus .slick-list {
  margin: 0 -10px;
}
.content-body .customer .box-customer .list-cus .item {
  border-radius: 12px;
  transition: 0.5s;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content-body .customer .box-customer .list-cus .item img {
  width: 100%;
}
.content-body .customer .box-customer .list-cus .item:hover {
  transform: translateY(-5px);
  transition: 0.5s;
}
.content-body .customer .box-customer .btn-wrap span {
  position: absolute;
  background-color: #141414;
  opacity: 0.8;
  padding: 3px 8px;
  color: #ffffff;
  z-index: 5;
  top: 55%;
  cursor: pointer;
}
.content-body .customer .box-customer .btn-wrap span:first-child {
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.content-body .customer .box-customer .btn-wrap span:last-child {
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.content-body .box-bread .head {
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}
.content-body .box-bread .breadcrumb {
  padding: 10px 0;
}
.content-body .box-bread .breadcrumb li a {
  color: #000000;
  font-size: 14px;
}
.content-body .box-bread .breadcrumb .active {
  color: red;
}
.content-body .content-login .form-login {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
  border-radius: 5px;
}
.content-body .content-cart .title {
  font-size: 20px;
  margin-bottom: 20px;
}
.content-body .content-cart .box-cart-pc {
  margin-bottom: 40px;
}
.content-body .content-cart .box-cart-pc .form-cart-pc {
  border: 1px solid #ebebeb;
  border-radius: 10px;
}
.content-body .content-cart .box-cart-pc .form-cart-pc .head {
  background-color: #f8f8f8;
  border-radius: 10px 10px 0 0;
  padding: 8px 20px;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
}
.content-body .content-cart .box-cart-pc .form-cart-pc .head .info {
  width: 55%;
}
.content-body .content-cart .box-cart-pc .form-cart-pc .head .per {
  width: 15%;
  text-align: center;
}
.content-body .content-cart .box-cart-pc .form-cart-pc .head .right {
  text-align: right;
}
.content-body .content-cart .box-cart-pc .form-cart-pc .body .item {
  padding: 10px;
  display: flex;
  border-top: 1px solid #ebebeb;
}
.content-body .content-cart .box-cart-pc .form-cart-pc .body .item .left {
  width: 55%;
  display: flex;
  align-items: center;
}
.content-body .content-cart .box-cart-pc .form-cart-pc .body .item .left .img-cart {
  margin-right: 20px;
}
.content-body .content-cart .box-cart-pc .form-cart-pc .body .item .left .img-cart a img {
  width: 100px;
  height: auto;
}
.content-body .content-cart .box-cart-pc .form-cart-pc .body .item .left .name-cart a {
  font-size: 14px;
  color: #000000;
}
.content-body .content-cart .box-cart-pc .form-cart-pc .body .item .left .name-cart a:hover {
  color: red;
}
.content-body .content-cart .box-cart-pc .form-cart-pc .body .item .left .name-cart .name {
  text-wrap: wrap;
}
.content-body .content-cart .box-cart-pc .form-cart-pc .body .item .right {
  width: 45%;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.content-body .content-cart .box-cart-pc .form-cart-pc .body .item .right .per {
  width: 33%;
  text-align: center;
}
.content-body .content-cart .box-cart-pc .form-cart-pc .body .item .right .total-right {
  text-align: right;
}
.content-body .content-cart .box-cart-pc .form-cart-pc .body .item .right .red {
  color: red;
  font-weight: bold;
}
.content-body .content-cart .box-cart-pc .form-cart-pc .body .item .right button {
  border-radius: 0;
  border: 1px solid #e5e5e5;
  border-color: #e5e5e5;
  color: #222;
  line-height: 26px;
  padding: 0;
  margin: 0;
  width: 28px;
  background-color: #fff;
  height: 28px;
}
.content-body .content-cart .box-cart-pc .form-cart-pc .body .item .right input {
  display: inline-block;
  padding: 0;
  text-align: center;
  border-radius: 0;
  width: 35px;
  min-height: 28px;
  border: 1px solid #e5e5e5;
  color: #222;
  height: 28px;
  font-size: 14px;
  margin: 0;
  border-left: none;
  border-right: none;
}
.content-body .content-cart .box-cart-pc .footer {
  margin: 30px 0;
}
.content-body .content-cart .box-cart-pc .footer .tieptuc {
  color: #000000;
  background-color: #ebebeb;
  padding: 10px 30px;
  border-radius: 5px;
}
.content-body .content-cart .box-cart-pc .footer .tieptuc:hover {
  background-color: #e5e5e5;
}
.content-body .content-cart .box-cart-pc .footer .total-money {
  display: flex;
  justify-content: space-between;
}
.content-body .content-cart .box-cart-pc .footer .total-money span {
  font-size: 18px;
}
.content-body .content-cart .box-cart-pc .footer .total-money span:last-child {
  color: red;
  font-weight: bold;
}
.content-body .content-cart .box-cart-pc .footer .checkout {
  margin-top: 20px;
}
.content-body .content-cart .box-cart-pc .footer .checkout .btn-checkout {
  background-color: #000000;
  color: #ffffff;
}
.content-body .content-cart .box-cart-pc .footer .checkout .btn-checkout:hover {
  background-color: red;
}
.content-body .content-cart .box-cart-mb {
  margin-bottom: 40px;
}
.content-body .content-cart .box-cart-mb .list-cart-mb {
  font-size: 13px;
}
.content-body .content-cart .box-cart-mb .list-cart-mb .item-cart {
  display: flex;
  padding: 10px 0;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}
.content-body .content-cart .box-cart-mb .list-cart-mb .item-cart .img {
  margin-right: 20px;
}
.content-body .content-cart .box-cart-mb .list-cart-mb .item-cart .img a img {
  width: 100px;
}
.content-body .content-cart .box-cart-mb .list-cart-mb .item-cart .info {
  width: 100%;
}
.content-body .content-cart .box-cart-mb .list-cart-mb .item-cart .info a {
  color: #000000;
}
.content-body .content-cart .box-cart-mb .list-cart-mb .item-cart .info a:hover {
  color: red;
}
.content-body .content-cart .box-cart-mb .list-cart-mb .item-cart .info .name {
  text-wrap: wrap;
}
.content-body .content-cart .box-cart-mb .list-cart-mb .item-cart .info .action-amount {
  display: flex;
  justify-content: space-between;
}
.content-body .content-cart .box-cart-mb .list-cart-mb .item-cart .info .action-amount .left {
  margin-top: 10px;
}
.content-body .content-cart .box-cart-mb .list-cart-mb .item-cart .info .action-amount .left button {
  border-radius: 0;
  border: 1px solid #e5e5e5;
  border-color: #e5e5e5;
  color: #222;
  line-height: 26px;
  padding: 0;
  margin: 0;
  width: 28px;
  background-color: #fff;
  height: 28px;
}
.content-body .content-cart .box-cart-mb .list-cart-mb .item-cart .info .action-amount .left input {
  display: inline-block;
  padding: 0;
  text-align: center;
  border-radius: 0;
  width: 35px;
  min-height: 28px;
  border: 1px solid #e5e5e5;
  color: #222;
  height: 28px;
  font-size: 14px;
  margin: 0;
  border-left: none;
  border-right: none;
}
.content-body .content-cart .box-cart-mb .list-cart-mb .item-cart .info .action-amount .right .total {
  color: red;
  font-size: 16px;
  font-weight: bold;
}
.content-body .content-cart .box-cart-mb .list-cart-mb .item-cart .info .action-amount .right .delete {
  float: right;
}
.content-body .content-cart .box-cart-mb .checkout-form {
  margin: 20px 0;
}
.content-body .content-cart .box-cart-mb .checkout-form .total-money {
  display: flex;
  justify-content: space-between;
}
.content-body .content-cart .box-cart-mb .checkout-form .total-money span:last-child {
  font-size: 20px;
  font-weight: bold;
  color: red;
}
.content-body .content-cart .box-cart-mb .checkout-form .tieptuc .btn-tieptuc {
  color: #000000;
  text-transform: uppercase;
  background-color: #ebebeb;
  text-align: center;
  padding: 8px 0;
  margin: 10px 0;
  border-radius: 5px;
}
.content-body .content-cart .box-cart-mb .checkout-form .tieptuc .btn-tieptuc:hover {
  background-color: #d5d5d5;
}
.content-body .content-cart .box-cart-mb .checkout-form .btn-checkout {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  text-transform: uppercase;
  height: 40px;
}
.content-body .content-cart .box-cart-mb .checkout-form .btn-checkout:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid red;
}
.content-body .content .title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.content-body .content .des span {
  font-weight: bold;
}
.content-body .content .box-content .box-left .des {
  margin-bottom: 10px;
  line-height: 1.8;
}
.content-body .content .box-content .box-left .list {
  margin-bottom: 10px;
  line-height: 1.6;
}
.content-body .content .box-content .box-left .list span {
  font-weight: bold;
}
.content-body .content .box-content .box-left .list a {
  color: black;
}
.content-body .content .box-content .box-left .list a:hover {
  color: red;
}
.content-body .content .box-content .box-left .box-form {
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 15px;
}
.content-body .content .box-content .box-left .box-form .title {
  font-size: 16px;
  font-weight: 500;
}
.content-body .content .box-content .box-left .box-form .form-mail .btn-send {
  margin-top: 10px;
  background-color: #000000;
  color: #ffffff;
}
.content-body .content .box-content .box-left .box-form .form-mail .btn-send:hover {
  background-color: red;
}
.content-body .content .box-content .box-left .list-address {
  background-color: #ffffff;
  height: 400px;
  overflow-y: scroll;
}
.content-body .content .box-content .box-left .list-address .info {
  border-bottom: 1px solid #e8e8e8;
}
.content-body .content .box-content .box-left .list-address .info b {
  color: #000000;
}
.content-body .content .box-content .box-left .list-address .info span {
  color: #47474f;
}
.content-body .content .box-content .box-left .list-address .info:hover {
  background-color: #e8e8e8;
}

footer {
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
footer .send-mail {
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px 0;
}
footer .send-mail .box {
  max-width: 600px;
  margin: 0 auto;
}
footer .send-mail .box .title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}
footer .send-mail .box .des {
  margin-bottom: 10px;
}
footer .send-mail .box .form-mail {
  position: relative;
}
footer .send-mail .box .form-mail input {
  border-radius: 20px;
  padding: 5px 110px 5px 20px;
  width: 100%;
}
footer .send-mail .box .form-mail button {
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  border-radius: 20px;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
}
footer .mid-footer {
  color: #ffffff;
  background-color: #000000;
  padding: 20px 0;
}
footer .mid-footer .box {
  margin-bottom: 20px;
}
footer .mid-footer .box .logo-footer {
  margin-bottom: 14px;
}
footer .mid-footer .box .des {
  line-height: 1.7;
  margin-bottom: 10px;
}
footer .mid-footer .box .address {
  margin-bottom: 10px;
}
footer .mid-footer .box .phone {
  margin-bottom: 10px;
}
footer .mid-footer .box .phone a {
  color: #ffffff;
}
footer .mid-footer .box .phone a:hover {
  color: red;
}
footer .mid-footer .box .email a {
  color: #ffffff;
}
footer .mid-footer .box .email a:hover {
  color: red;
}
footer .mid-footer .box .title {
  text-transform: uppercase;
  margin-bottom: 14px;
}
footer .mid-footer .box .list {
  line-height: 2;
}
footer .mid-footer .box .list li a {
  color: #ffffff;
}
footer .mid-footer .box .list li a:hover {
  color: red;
}
footer .mid-footer .box .list-social {
  margin-bottom: 20px;
}
footer .mid-footer .box .list-social a {
  margin-right: 10px;
}
footer .mid-footer .box .list-payment span {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

#back-to-top {
  position: fixed;
  bottom: 60px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 35px;
  background: #b9b9b9;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  transition: opacity 0.5s;
  opacity: 0;
}
#back-to-top:hover {
  background: #ffc107;
}

#back-to-top.show-top {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */